<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Index Page</title>
</head>

<body>
    <h1>Pokedex Index Page</h1>

    <%- include ('./partials/nav.ejs', {name: typeof pokemon !==undefined && pokemon.id || "Hello Trainer" }) %>
    
        <div>
            <%pokemon.forEach((poke,idx)=> { %>
                <p><a href="/pokemon/<%= idx %> ">
                        <%= poke.name %>
                    </a></p>
            <% }) %>
        </div>
</body>

</html>